.container {
    display: grid;
    grid-template-areas: "cabecalho cabecalho"
        "lateral conteudo"
        "rodape rodape";
    /* criando colunas */
    grid-template-columns: 30% 60%;
    /* criando linhas */
    grid-template-rows: 30px 80px 30px;
    text-align: center;
    /* (rows & columns) juntos, na mesma coisa */
    gap: 20px 50px;
    justify-items: center;
    /* stretch: estica os itens horizontalmente para preencher a célula
    start inicia da esquerda
    end inicia da direita
    center centraliza tudo
    justify-item alinha item dentro da sua propria área,
    já o justify-content alinha horizontalmente as áreas em relação ao container */
    align-items: center;
}

.cabecalho {
    grid-area: cabecalho;
    border: 1px solid;
}

.lateral {
    grid-area: lateral;
    border: 1px solid;
}

.conteudo {
    grid-area: conteudo;
    border: 1px solid;
}

.rodape {
    grid-area: rodape;
    border: 1px solid;
}